.App {
  position: absolute;
  width: 100%;
}

#light {
  background-color: #ffffff;
  color: black;
  transition-duration: .5s;
}

#dark {
  background-color: rgb(13, 13, 21);
  color: white;
  transition-duration: .5s;
}

header {
  width: 90%;
  height: 150px;
  background-color: rgb(79, 71, 228);
  margin-left: 5%;
  transition: transform .3s, background-color .5s;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  transform: translateY(-100px);
  position: fixed;
  z-index: 2;
}

header:hover {
  transform: translateY(0px);
}

#dark header {
  background-color: rgb(11, 7, 87);
}

#themeButton {
  height: 75px;
  width: 75px;
  border: none;
  border-radius: 50px;
  float: right;
  margin: 37.5px;
  background-color: white;
  background-image: url(./Images/moon.png);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: 15px;
  transition-duration: .5s;
  cursor: pointer;
}

#dark #themeButton {
  background-color: rgb(13, 13, 21);
  background-image: url(./Images/moon2.png);
  transition-duration: .5s;
}

#container {
  width: 80%;
  min-height: 1000px;
  background-color: rgb(96, 90, 195);
  margin-left: 10%;
  transition: background-color .5s;
  position: relative;
  z-index: 1;
}

#dark #container {
  background-color: rgb(15, 15, 48);
}

#zbiorka {
  width: calc(100%-5px);
  height: 500px;
  background-color: rgb(121, 116, 202);
  color: black;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 15px;
  margin-top: 50px;
  transition: background-color .5s;
}

#dark #zbiorka {
  background-color: rgb(24, 24, 61);
  color: white;
}

#zbiorka img {
  width: 450px;
  height: 450px;
  float: left;
  margin: 22.5px;
  cursor: pointer;
  border-radius: 25px;
  border: solid;
  border-width: 5px;
  border-color: black;
}

#zbiorka div {
  float: left;
  height: 100%;
  border-left-style: solid;
  border-width: 5px;
  border-color: black;
  width: calc(100% - 600px);
}

#zbiorka div * {
  margin-left: 25px;
}

#zbiorka div h1 {
  font-size: 2vw;
}

#zbiorka div p {
  font-size: 1.5vw;
}

#nav {
  list-style-type: none;
  float: left;
}

#nav li {
  float: left;
  border: solid;
  border-width: 3px;
  border-radius: 10px;
  width: 200px;
  height: 50px;
  margin: 25px;
  border-color: rgb(101, 95, 210);
  transition: border-color .5s;
}

#dark #nav li {
  border-color: rgb(19, 19, 92);
}

#nav li button {
  width: 100%;
  height: 100%;
  background-color: rgb(122, 116, 223);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color .5s;
  border: none;
}

#dark #nav li button {
  background-color: rgb(24, 24, 61);
  color: white;
}

#stronaGlowna div {
  width: 80%;
  margin-left: 10%;
  border: solid;
  border-width: 5px;
  border-radius: 25px;
}

#stronaGlowna div p {
  font-size: 2vw;
  width: 90%;
  height: 90%;
  margin: 5%;
}

#info {
  background-color: white;
  color: black;
  position: fixed;
  top: 150px;
  left: 83%;
  z-index: 0;
  height: 500px;
  width: 175px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  transition-duration: .5s;
}

#light #info {
  background-color: grey;
  color: white;
}

#info:hover {
  transform: translateX(75%);
}